.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  background: linear-gradient(145deg, #0c2f72, #0e3782);
  color: #fff;
  width: 85%;
  border-radius: 0.6rem;
  position: relative;
}

.imgWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 40%;
  overflow: hidden;
  opacity: 0.7;
}

.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left,
    right,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.label {
  font-size: 1.34rem;
  opacity: 0.85;
}

.title {
  margin-top: 4px;
  font-size: 3rem;

  letter-spacing: 1px;
}

.right {
  display: flex;
  gap: 36px;
}

.unit {
  text-align: center;
}

.value {
  font-size: 3rem;
  font-weight: 600;
}

.caption {
  display: block;
  font-size: 12px;
  opacity: 0.75;
  text-transform: capitalize;
}

.box {
  transition:
    background 240ms ease,
    box-shadow 240ms ease;
}

.box:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}
