.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-height: 90px;
  background-color: #fff;
}

.logo {
  width: 11rem;
  height: fit-content;
}

.logo img {
  width: 100%;
}

.navlinks ul {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 4rem;
  list-style: none;
}

.navlinks li a {
  all: unset;
  cursor: pointer;
  display: block;
}

.navlinks ul li {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: color 0.5s ease;
  color: #000000dd;
}

.navlinks ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00000022, #0000005f, #00000022);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.navlinks ul li:hover {
  color: #000000a3;
}

.navlinks ul li:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite !important;
}

@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.register button {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  background: #fff;
  color: #0f172a;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  z-index: 1;
  transition: all 0.3s ease;
}

/* ripple layers */
.register button:before,
.register button:after,
.register button span:before,
.register button span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.5s ease;
  border: 2px solid rgba(15, 23, 42, 0.12);
  opacity: 0;
}

/* hover state */
.register button:hover {
  background: #fff;
  font-size: 1rem;
  text-decoration: underline #0000005f;
  text-underline-offset: 0.5rem;
}

.register button:active {
  transform: scale(0.95);
}
