.page {
  background: #1d243a;
  color: #fff;
  min-height: 90vh;
  padding: 4rem 1.5rem;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* OPTICA SECTION */
.section {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date {
  border: 1px solid transparent;
  background:
    linear-gradient(#0f1017, #0f1017) padding-box,
    linear-gradient(to right, #949494, #ffffff) border-box;
  color: #fff;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: Satoshi-Light;
}
.media {
  display: flex;
  background-color: rgb(46, 47, 57);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.media img {
  object-fit: contain;
  width: 500px;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

.heading span {
  font-family: Satoshi-Light;
}

.description {
  font-family: Satoshi-Light;
  text-align: justify;
  line-height: 1.84;
  color: #cecece;
  max-width: 85%;
}

.cta {
  background-color: #0f1017;
  color: #fff;
  width: 12rem;
}

.cta span {
  color: #fcfcfc;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}
