.page {
  position: relative;

  color: #fff;
  min-height: 90vh;
  padding: 4rem 1.5rem;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

/* OPTICA SECTION */
.section {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  max-width: 90%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date {
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  color: #fff;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: Satoshi-Light;
}
.media {
  display: flex;
  background-color: rgb(46, 47, 57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.media img {
  object-fit: contain;
  width: 400px;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

.heading span {
  font-family: Satoshi-Light;
}

.description {
  font-family: Satoshi-Light;
  text-align: justify;
  line-height: 1.84;
  color: #cecece;
}

.registerButton {
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  width: fit-content;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 1.5rem;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  background-color: #196eff;
}

.registerButton span {
  color: #fcfcfc;
  font-size: 1rem;
  letter-spacing: 0.7px;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.registerButton:hover {
  background-color: #cecece;
}

.registerButton:hover span {
  color: #000;
  transform: scale(1.02);
}
